@page
@model Pursuit_of_QE.Pages.FinalChallengeModel
@{
    ViewData["Title"] = "Nice Try";
}
<br />
<h1>
    @ViewData["Title"] for Finding out what the last challenge is.
</h1>
<br />
<img src="/images/GoodTry.jpg" class="rounded" style="width:400px; height:400px">
<br />
<h2>
    Go back and keep doing the challenges.
</h2>