@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <style>
        body {
            display: grid;
            place-items: center;
            height: auto;
        }
        .div-background {
            background-image:url(.../wwwroot/images/close-up-background-texture-ancient-egyptian-papyrus-byblos-paper-reed-document_273651-1190.jpg);
            height:100px;
            width: 100px;
            /*color: none;
            font-weight: 500;
            font-size: 28px;
            padding: 15px;*/
        }
    </style>
<div class="text-center .div-background">
    <h1 class="display-4">Welcome to The Pursuit of QE</h1>
    <p>
        You challenge for this activity is a scavenger hunt.<br>
        This will take you to 10 (ten) locations from around Wellington.<br>
        Before ending in the final location.
    </p>
</div>
