@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center .div-background">
    <h1 class="display-4">Welcome to The Pursuit of QE</h1>
    <p>
        You challenge for this activity is a scavenger hunt.<br>
        This will take you to 10 (ten) locations from around Wellington.<br>
        Before ending in the final location.
    </p>

    @* Menu Button for the teams to access their instructions *@
    <div class="row row-cols-1 row-cols-md-2 g-4 align-content-center">
        @*<div class="card" style="width:400px">
        <img class="card-img-top" src="../bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
        <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See Profile</a>
        </div>
        </div>*@
        <div class="p-3 card text-center" style="height:auto; width:200px">
            <img class="card-img-top" src="/images/Number-1.jpg" alt="Card image" style="height:100%; width:100%">
            <div class="card-body">
                <h4 class="card-title">Team 1</h4>
                <p class="card-text">Group 1 click here to begin your challenges.</p>
                <a href="/TeamPages/GroupOneIndex" class="btn btn-primary">Click here if you are apart of Team One!</a>
            </div>
        </div>
        <br />
        <div class="p-3 card text-center" style="height:auto; width:200px">
            <img class="card-img-top" src="/images/Number-2.jpg" alt="Card image" style="height:100%; width:100%">
            <div class="card-body">
                <h4 class="card-title">Team 2</h4>
                <p class="card-text">Group 2 click here to begin your challenges.</p>
                <a href="/TeamPages/GroupTwoIndex" class="btn btn-primary">Click here if you are apart of Team Two!</a>
            </div>
        </div>
        <br />
        <div class="p-3 card text-center" style="height:auto; width:200px">
            <img class="card-img-top" src="/images/Number-3.jpg" alt="Card image" style="height:100%; width:100%">
            <div class="card-body">
                <h4 class="card-title">Team 3</h4>
                <p class="card-text">Group 3 click here to begin your challenges.</p>
                <a href="/TeamPages/GroupThreeIndex" class="btn btn-primary">Click here if you are apart of Team Three!</a>
            </div>
        </div>
        <br />
        <div class="p-3 card text-center" style="height:auto; width:200px">
            <img class="card-img-top" src="/images/Number-4.jpg" alt="Card image" style="height:100%; width:100%">
            <div class="card-body">
                <h4 class="card-title">Team 4</h4>
                <p class="card-text">Group 4 click here to begin your challenges.</p>
                <a href="/TeamPages/GroupFourIndex" class="btn btn-primary">Click here if you are apart of Team Four!</a>
            </div>
        </div>
        <br />
        <div class="p-3 card text-center" style="height:auto; width:200px">
            <img class="card-img-top" src="/images/Number-5.jpg" alt="Card image" style="height:100%; width:100%">
            <div class="card-body">
                <h4 class="card-title">Team 5</h4>
                <p class="card-text">Group 5 click here to begin your challenges.</p>
                <a href="/TeamPages/GroupFiveIndex" class="btn btn-primary">Click here if you are apart of Team Five!</a>
            </div>
        </div>
        <br />
        <div class="p-3 card text-center" style="height:auto; width:200px">
            <img class="card-img-top" src="/images/Number-6.jpg" alt="Card image" style="height:100%; width:100%">
            <div class="card-body">
                <h4 class="card-title">Team 6</h4>
                <p class="card-text">Group 6 click here to begin your challenges.</p>
                <a href="/TeamPages/GroupSixIndex" class="btn btn-primary">Click here if you are apart of Team Six!</a>
            </div>
        </div>
        <br />
    </div>
</div>
