@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center .div-background">
    <h1 class="display-3">Welcome to The Pursuit of QE</h1>
    <h3 class="display-5">This is a Taskmaster style task.</h3>
    <p>
        You challenge for this activity is a scavenger hunt.<br>
        This will take you to 10 (ten) locations from around Wellington.<br>
        Before ending in the final location.
    </p>

    @* Menu Button for the teams to access their instructions *@
    <div class="row row-cols-1 row-cols-md-2 g-4 align-content-center">
        
        @* Team 1 - Boaty McBoat Face *@
        <div class="p-3 card text-center" style="height:auto; width:300px">
            <img class="card-img-top" src="/images/Number-1.jpg" alt="Card image" style="height:100%; width:100%">
            <div class="card-body">
                <h4 class="card-title">Team - Boaty McBoat Face</h4>
                <p class="card-text">Click on the button below to begin your challenges.</p>
                <a href="/TeamPages/GroupOneIndex" class="btn btn-primary">Click Here To Begin Your Challenges!</a>
            </div>
        </div>
        <br />

        @* Team 2 - Black Perl *@
        <div class="p-3 card text-center" style="height:auto; width:300px">
            <img class="card-img-top" src="/images/Number-2.jpg" alt="Card image" style="height:100%; width:100%">
            <div class="card-body">
                <h4 class="card-title">Team - Black Perl</h4>
                <p class="card-text">Click on the button below to begin your challenges.</p>
                <a href="/TeamPages/GroupTwoIndex" class="btn btn-primary">Click Here To Begin Your Challenges!</a>
            </div>
        </div>
        <br />

        @* Team 3 - Ship Happens *@
        <div class="p-3 card text-center" style="height:auto; width:300px">
            <img class="card-img-top" src="/images/Number-3.jpg" alt="Card image" style="height:100%; width:100%">
            <div class="card-body">
                <h4 class="card-title">Team - Ship Happens</h4>
                <p class="card-text">Click on the button below to begin your challenges.</p>
                <a href="/TeamPages/GroupThreeIndex" class="btn btn-primary">Click Here To Begin Your Challenges!</a>
            </div>
        </div>
        <br />

        @* Team 4 - Deep Ship *@
        <div class="p-3 card text-center" style="height:auto; width:300px">
            <img class="card-img-top" src="/images/Number-4.jpg" alt="Card image" style="height:100%; width:100%">
            <div class="card-body">
                <h4 class="card-title">Team - Deep Ship</h4>
                <p class="card-text">Click on the button below to begin your challenges.</p>
                <a href="/TeamPages/GroupFourIndex" class="btn btn-primary">Click Here To Begin Your Challenges!</a>
            </div>
        </div>
        <br />

        @* Team 5 - Bachelors Delight *@
        <div class="p-3 card text-center" style="height:auto; width:300px">
            <img class="card-img-top" src="/images/Number-5.jpg" alt="Card image" style="height:100%; width:100%">
            <div class="card-body">
                <h4 class="card-title">Team - Bachelors Delight</h4>
                <p class="card-text">Click on the button below to begin your challenges.</p>
                <a href="/TeamPages/GroupFiveIndex" class="btn btn-primary">Click Here To Begin Your Challenges!</a>
            </div>
        </div>
        <br />

        @* Team 6 - Rouge Wave *@
        <div class="p-3 card text-center" style="height:auto; width:300px">
            <img class="card-img-top" src="/images/Number-6.jpg" alt="Card image" style="height:100%; width:100%">
            <div class="card-body">
                <h4 class="card-title">Team - Rouge Wave</h4>
                <p class="card-text">Click on the button below to begin your challenges.</p>
                <a href="/TeamPages/GroupSixIndex" class="btn btn-primary">Click Here To Begin Your Challenges!</a>
            </div>
        </div>
        <br />
    </div>
</div>
