@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Pursuit of QE</h1>
    <p>
        You challenge for this activity is a scavenger hunt.<br>
        This will take you to 10 (ten) locations from around Wellington.<br>
        Before ending in the final location.
    </p>
</div>
