@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@*<style>
    body {
        display: grid;
        place-items: center;
        height: auto;
    }

    .div-background {
        background-image: url(.../wwwroot/images/close-up-background-texture-ancient-egyptian-papyrus-byblos-paper-reed-document_273651-1190.jpg);
        height: 100px;
        width: 100px;
    }
</style>*@
<div class="text-center .div-background">
    <h1 class="display-4">Welcome to The Pursuit of QE</h1>
    <p>
        You challenge for this activity is a scavenger hunt.<br>
        This will take you to 10 (ten) locations from around Wellington.<br>
        Before ending in the final location.
    </p>

    @* Menu Button for the teams to access their instructions *@
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="p-3 text-center" style="">
            <div class="p-3 card-body">
                <h4 class="card-title">Team 1</h4>
                <p class="card-text">Group 1 click here to begin your challenges.</p>
                <a class="btn btn-primary" type="button" href="/TeamPages/GroupOneIndex">Click here if you are apart of Team One!</a>
            </div>
        </div>
        <br />
        <div class="p-3 text-center" style="">
            <div class="p-3 card-body">
                <h4 class="card-title">Team 2</h4>
                <p class="card-text">Group 2 click here to begin your challenges.</p>
                <a class="btn btn-primary" type="button" href="/TeamPages/GroupTwoIndex">Click here if you are apart of Team Two!</a>
            </div>
        </div>
        <br />
        <div class="p-3 text-center" style="">
            <div class="card-body">
                <h4 class="card-title">Team 3</h4>
                <p class="card-text">Group 3 click here to begin your challenges.</p>
                <a class="btn btn-primary" type="button" href="/TeamPages/GroupThreeIndex">Click here if you are apart of Team Three!</a>
            </div>
        </div>
        <br />
        <div class="p-3 text-center" style="">
            <div class="card-body">
                <h4 class="card-title">Team 4</h4>
                <p class="card-text">Group 4 click here to begin your challenges.</p>
                <a class="btn btn-primary" type="button" href="/TeamPages/GroupFourIndex">Click here if you are apart of Team Four!</a>
            </div>
        </div>
        <br />
        <div class="p-3 text-center" style="">
            <div class="card-body">
                <h4 class="card-title">Team 5</h4>
                <p class="card-text">Group 5 click here to begin your challenges.</p>
                <a class="btn btn-primary" type="button" href="/TeamPages/GroupFiveIndex">Click here if you are apart of Team Five!</a>
            </div>
        </div>
        <br />
        <div class="p-3 text-center" style="">
            <div class="card-body">
                <h4 class="card-title">Team 6</h4>
                <p class="card-text">Group 6 click here to begin your challenges.</p>
                <a class="btn btn-primary" type="button" href="/TeamPages/GroupSixIndex">Click here if you are apart of Team Six!</a>
            </div>
        </div>
        <br />
    </div>
</div>
