@page
@model GroupOneIndexModel
@{
    ViewData["Title"] = "Boaty McBoat Face";
}

<div class="text-center .div-background">
    @* The below is the style for each of the pages, but with some differences for each one. *@
    <h1>Welcome @ViewData["Title"]!</h1>
    <p>
        @ViewData["Title"], below you will find your challenges, these will be easy for all you smart people!<br />
        I hope you have your walking shoes on &#128513;. <br />
        <br />
        With this challenge you will be taken across the City, you will need to find the objects or items resembling the task.<br />
        During these tasks you will need to take photos and upload them to this portal under the corresponding boxes.<br />
        <br />
    </p>

    @*Fields for the filling with userrsz*@
    <p>
        For the tasks below you will need to take photos with your phone cameras and then input them into the boxes below.<br />
        You will also need to fill in the items name that you think it is based on the clue.
    </p>
</div>

@* Form boxes for each page, will reformat based on the team *@
<div class="py-3 bg-light rounded-3">
    <div class="container">
        <div class="row col-md-12">
            <section class="py-4 text-center container">
                <div class="row py-lg-4">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h2 class="fw-normal text-center">@ViewData["Title"]!</h2>
                        <p class="lead text-muted">During this challenge you will need to fill out each box below, and upload photos based on these.</p>
                    </div>
                </div>
            </section>
        </div>

        @* Team challenges and name*@
        <div class="row col-md-12">
            <div class="col-md-10 align-content-center container">
                <form class="form-group" method="post">
                    <div>
                        <hr class="my-4">
                        @*<div class="input-group mb-3">
                        <span class="input-group-text" id="teamName">Team Name</span>
                        <input type="text" class="form-control" aria-describedby="teamName" required>
                        </div>*@
                    </div>

                    @* Message for the team *@
                    <p>For these tasks you need to make it to this location and do the following with your team:<br /></p>

                    @* Accordion for the task messages *@
                    <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
                        @* Task 1 - Lordly Lions Challenge *@
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne"> Task One! </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <p>
                                        You are to find the location of the Green Lions standing guard of someones tomb.<br />
                                        When you have found this location, you are to take a photo besides them as a team, standing in your proudest Lion pose.<br />
                                        Hint: This tomb also has a noble stead atop it.
                                    </p>
                                    <div class="text-center">
                                        @*<img src="/images/locations/2022_MS_Ignite_Wallpaper_v01_2160x4558_Mobile_A.png" class="rounded" style="width:400px; height:400px">*@
                                    </div>

                                    <label for="taskOne" class="form-label">Where are the Lordly Lions?</label>
                                    <textarea class="form-control" id="taskOneTextarea" rows="1" required></textarea>

                                    <label for="fileUploadOne">Did you find the Lordly Lions? Upload here:</label><br />
                                    <input type="file" id="fileUploadOne" name="fileUploadOne" accept="image/*" /><br /><br />
                                    <div class="invalid-feedback">Please put your answer in</div>
                                </div>
                            </div>
                        </div>

                        @* Task 2 - Man with Dog Challenge *@
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo"> Task Two! </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <p>
                                        For this task you are to find a man walking a dog, hint: he has a cane.<br />
                                        As a team, you are to take a photo with said man and dog, with your best foot forward.
                                    </p>
                                    <div class="text-center">
                                        @*<img src="/images/locations/2022_MS_Ignite_Wallpaper_v01_2160x4558_Mobile_A.png" class="rounded" style="width:400px; height:400px">*@
                                    </div>

                                    <label for="taskTwo" class="form-label">Who is this Man, and where is he?</label>
                                    <textarea class="form-control" id="taskTwoTextarea" rows="1" required></textarea>

                                    <label for="fileUploadTwo">Did you find the Man and his Dog? Upload here:</label><br />
                                    <input type="file" id="fileUploadTwo" name="fileUploadTwo" accept="image/*" /><br /><br />
                                    <div class="invalid-feedback">Please put your answer in</div>
                                </div>
                            </div>
                        </div>

                        @* Task 3 - Lobster Tail Challenge *@
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree"> Task Three! </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                <div class="accordion-body">
                                    <p>
                                        For this task you are to find the statement pieces of the public toilets in Wellington City.<br />
                                        With this you are to find the "iconic" bathrooms that are shaped like a certain crustacian.<br />
                                        Make your best effort and flare on this picture.<br />
                                    </p>
                                    <div class="text-center">
                                        @*<img src="/images/locations/2022_MS_Ignite_Wallpaper_v01_2160x4558_Mobile_A.png" class="rounded" style="width:400px; height:400px">*@
                                    </div>

                                    <label for="taskThree" class="form-label">What are these wharepaku?</label>
                                    <textarea class="form-control" id="taskThreeTextarea" rows="1" required></textarea>

                                    <label for="fileUploadThree">Did you find the wharepaku? Upload here:</label><br />
                                    <input type="file" id="fileUploadThree" name="fileUploadThree" accept="image/*" /><br /><br />
                                    <div class="invalid-feedback">Please put your answer in</div>
                                </div>
                            </div>
                        </div>

                        @* Task 4 - Animal Challenge *@
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour"> Task Four! </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                                <div class="accordion-body">
                                    <p>
                                        You are to find the Giant Green Animal, this is a mesh animal that is hanging out looking over the tall black building.<br />
                                        There is a Giant Animal is suspended above the ground.<br />
                                        You are needing to find this and take a group photo under the animal.
                                    </p>
                                    <div class="text-center">
                                        @*<img src="/images/locations/2022_MS_Ignite_Wallpaper_v01_2160x4558_Mobile_A.png" class="rounded" style="width:400px; height:400px">*@
                                    </div>

                                    <label for="taskFour" class="form-label">What is this Giant Animal and where is it?</label>
                                    <textarea class="form-control" id="taskFourTextarea" rows="1" required></textarea>

                                    <label for="fileUploadTwo">Did you find the Giant Animal? Upload here:</label><br />
                                    <input type="file" id="fileUploadTwo" name="fileUploadTwo" accept="image/*" /><br /><br />
                                    <div class="invalid-feedback">Please put your answer in</div>
                                </div>
                            </div>
                        </div>

                        @* Task 5 - Giant Hand Challenge *@
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive"> Task Five! </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                                <div class="accordion-body">
                                    <p>
                                        There is a giant hand on a building, this hand looks down on passers by.<br />
                                        It looks down on people with disdain and judgement.<br />
                                        You need to find this hand and take a team photo with your best look of disdain.<br />
                                    </p>
                                    <div class="text-center">
                                        @*<img src="/images/locations/2022_MS_Ignite_Wallpaper_v01_2160x4558_Mobile_A.png" class="rounded" style="width:400px; height:400px">*@
                                    </div>

                                    <label for="taskFive" class="form-label">Where is this Giant Hand?</label>
                                    <textarea class="form-control" id="taskFiveTextarea" rows="1" required></textarea>

                                    <label for="fileUploadFive">Did you find the Giant Hand? Upload here:</label><br />
                                    <input type="file" id="fileUploadFive" name="fileUploadFive" accept="image/*" required /><br /><br />
                                    <div class="invalid-feedback">Please put your answer in</div>
                                </div>
                            </div>
                        </div>

                        @* Task 6 - Timezone Challenge *@
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix"> Task Six! </button>
                            </h2>
                            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                                <div class="accordion-body">
                                    <p>
                                        You are required to go to TimeZone on Courtney Place, there you are to go to the front counter say you are from MBIE.<br />
                                        Once done, go to the photobooth and take the funniest photos as a team.<br />
                                        If the PhotoBooth is not available at the time of this task, then please go to the BasketBall machine and try get the highest score, within the time allowed.<br />
                                    </p>
                                    <div class="text-center">
                                        @*<img src="/images/locations/timezone.png" class=" rounded" style="width:400px; height:400px">*@
                                    </div>
                                    <label for="taskSix" class="form-label">Had to do the Basketball, what was your score?</label>
                                    <textarea class="form-control" id="taskFiveTextarea" rows="1"></textarea>

                                    @* File upload box *@
                                    <label for="fileUploadSix">Taken your photos? Upload here:</label><br />
                                    <input type="file" id="fileUploadSix" name="fileUploadSix" accept="image/*" required /><br /><br />
                                    <div class="invalid-feedback">Please upload your photo</div>
                                </div>
                            </div>
                        </div>

                        @* Task 7 - Tripod Challenge *@
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven"> Task Seven! </button>
                            </h2>
                            <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                                <div class="accordion-body">
                                    <p>
                                        Your task for this challenge is to find the Giant Tripod that is always watching passersby.<br />
                                        With this Tripod you are as a team, to have a three-legged race, with one other person, take a photo of your team racing with three legs.<br />
                                    </p>
                                    <div class="text-center">
                                        @*<img src="/images/locations/2022_MS_Ignite_Wallpaper_v01_2160x4558_Mobile_A.png" class="rounded" style="width:400px; height:400px">*@
                                    </div>

                                    <label for="taskSeven" class="form-label">Where is this location?</label>
                                    <textarea class="form-control" id="taskSevenTextarea" rows="1" required></textarea>

                                    <label for="fileUploadTwo">Show us this photo? Upload here:</label><br />
                                    <input type="file" id="fileUploadTwo" name="fileUploadTwo" accept="image/*" /><br /><br />
                                    <div class="invalid-feedback">Please put your answer in</div>
                                </div>
                            </div>
                        </div>

                        @* Task 8 - Waitangi Challenge *@
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingEight">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight"> Task Eight! </button>
                            </h2>
                            <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
                                <div class="accordion-body">
                                    <p>
                                        There is a park that is named after one of the main founding documents in Aotearoa.<br />
                                        You are to lay on the ground of colonisation, and take a fun picture shaped like a star.<br />
                                    </p>
                                    <div class="text-center">
                                        @*<img src="/images/locations/2022_MS_Ignite_Wallpaper_v01_2160x4558_Mobile_A.png" class="rounded" style="width:400px; height:400px">*@
                                    </div>

                                    <label for="taskEight" class="form-label">What is this location?</label>
                                    <textarea class="form-control" id="taskEightTextarea" rows="1" required></textarea>

                                    <label for="fileUploadTwo">Show us this photo? Upload here:</label><br />
                                    <input type="file" id="fileUploadTwo" name="fileUploadTwo" accept="image/*" /><br /><br />
                                    <div class="invalid-feedback">Please put your answer in</div>
                                </div>
                            </div>
                        </div>

                        @* Task 9 - Floating Ball Challenge *@
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingNine">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine"> Task Nine! </button>
                            </h2>
                            <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
                                <div class="accordion-body">
                                    <p>
                                        Within our national museum, there is the main attraction that is within the front doors.
                                        You are to find this wet ball, and submerge an item within the water under it.<br />
                                        During this you are to also feel the wet ball.<br />
                                        You are needing to a photo or hands on ball.
                                    </p>
                                    <div class="text-center">
                                        @*<img src="/images/locations/2022_MS_Ignite_Wallpaper_v01_2160x4558_Mobile_A.png" class="rounded" style="width:400px; height:400px">*@
                                    </div>

                                    <label for="taskNine" class="form-label">What is this location?</label>
                                    <textarea class="form-control" id="taskNineTextarea" rows="1" required></textarea>

                                    <label for="fileUploadTwo">Show us this photo? Upload here:</label><br />
                                    <input type="file" id="fileUploadTwo" name="fileUploadTwo" accept="image/*" /><br /><br />
                                    <div class="invalid-feedback">Please put your answer in</div>
                                </div>
                            </div>
                        </div>

                        @* Task 10 - Fishing Challenge *@
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTen">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false" aria-controls="panelsStayOpen-collapseTen"> Task Ten! </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTen">
                                <div class="accordion-body">
                                    <p>
                                        For this task you are needing to find the three fin shaped statues.<br />
                                        These are installed on the waterfront, they are always spraying water out the top.<br />
                                        When you have found these statues, you are to take the most fun team photo. All three must be visible and your teams needs to be seen.
                                    </p>
                                    <div class="text-center">
                                        @*<img src="/images/locations/2022_MS_Ignite_Wallpaper_v01_2160x4558_Mobile_A.png" class="rounded" style="width:400px; height:400px">*@
                                    </div>

                                    <label for="taskTen" class="form-label">What is this location?</label>
                                    <textarea class="form-control" id="taskTenTextarea" rows="1" required></textarea>

                                    <label for="fileUploadTwo">Show us your amazing team photo? Upload here:</label><br />
                                    <input type="file" id="fileUploadTwo" name="fileUploadTwo" accept="image/*" /><br /><br />
                                    <div class="invalid-feedback">Please put your answer in</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Final Submission Buttons *@
                    <div class="py-2 d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary btn-lg" type="submit" href="/YayIndex">Submit</button>
                        <button type="button" class="btn btn-secondary btn-lg" onclick="resetForm()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function resetForm() {
        document.forms[0].reset();
    }
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()

    const formInput = document.querySelector(".form-control");

    formButton.disabled = true;
    formInput.addEventListener("keyup", buttonState);

    function buttonState() {
        if (document.querySelector(".form").value === "") {
            formButton.disabled = true;
        }
        else {
            formButton.disabled = false;
        }
    }

    formButton.addEventListener("click", () => {
        console.log()
    })
</script>