@page
@model GroupSixIndexModel
@{
    ViewData["Title"] = "Team 1";
}

<div class="text-center .div-background">
    @* The below is the style for each of the pages, but with some differences for each one. *@
    <h1>Welcome Team 1!</h1>
    <p>
        Below you will find your challenges, these will be easy for all you smart people!
    </p>
</div>