@page
@model GroupOneIndexModel
@{
    ViewData["Title"] = "Team 1";
}

<div class="text-center .div-background">
    @* The below is the style for each of the pages, but with some differences for each one. *@
    <h1>Welcome @ViewData["Title"]!</h1>
    <p>
        @ViewData["Title"], below you will find your challenges, these will be easy for all you smart people!<br />
        I hope you have your walking shoes on &#128513;. <br />
        <br />
        With this challenge you will be taken across the City, you will need to find the objects or items resembling the task.<br />
        During these tasks you will need to take photos and upload them to this portal under the corresponding boxes.<br />
        <br />
    </p>

    @*Fields for the filling*@
    <p>
        For the tasks below you will need to take photos with your phone cameras and then input them into the boxes below.<br />
        You will also need to fill in the items name that you think it is based on the clue.
    </p>
</div>
@*@{
    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" +
                Path.GetFileName(photo.FileName);
            imagePath = @"images\" + newFileName;

            photo.Save(@"~\" + imagePath);
        }
    }
}*@
@*<!DOCTYPE html>
<html>
<head>
  <title>Image Upload</title>
</head>
<body>
  <form action="" method="post" enctype="multipart/form-data">
    <fieldset>
      <legend> Upload Image </legend>
      <label for="Image">Image</label>
      <input type="file" name="Image" />
      <br/>
      <input type="submit" value="Upload" />
    </fieldset>
  </form>
  <h1>Uploaded Image</h1>
    @if (imagePath != "")
    {
        <div class="result">
            <img src="@imagePath" alt="image" />

        </div>
    }
</body>
</html>*@