@page
@model GroupOneIndexModel
@{
    ViewData["Title"] = "Team 1";
}

<div class="text-center .div-background">
    @* The below is the style for each of the pages, but with some differences for each one. *@
    <h1>Welcome @ViewData["Title"]!</h1>
    <p>
        @ViewData["Title"], below you will find your challenges, these will be easy for all you smart people!<br />
        I hope you have your walking shoes on &#128513;. <br />
        <br />
        With this challenge you will be taken across the City, you will need to find the objects or items resembling the task.<br />
        During these tasks you will need to take photos and upload them to this portal under the corresponding boxes.<br />
        <br />
    </p>

    @*Fields for the filling*@
    <p>
        For the tasks below you will need to take photos with your phone cameras and then input them into the boxes below.<br />
        You will also need to fill in the items name that you think it is based on the clue.
    </p>
</div>

@* Form boxes for each page, will reformat based on the team *@
<div class="py-3 bg-light rounded-3">
    <div class="container">
        <div class="row col-md-12">
            <section class="py-4 text-center container">
                <div class="row py-lg-4">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h2 class="fw-normal text-center">Welcome @ViewData["Title"]!</h2>
                        <p class="lead text-muted">During this challenge you will need to fill out each box below, and upload photos based on these.</p>
                    </div>
                </div>
            </section>
        </div>

        <div class="row col-md-12">
            <div class="col-md-10 align-content-center container">
                <div>
                    @*<div class="mb-3">
                        <p class="h5">How to Submit this Form and Evidence</p>
                        <p>Email the completed application form and evidence to <a href="mailto:fairpayagreements@mbie.govt.nz">fairpayagreements@mbie.govt.nz</a>.</p>
                    </div>*@

                    <div class="mb-3">
                        <p class="h5"><i>Evidence Checklist</i></p>
                        <p>Use the checklist below as a guide for the evidence required to submit this application:</p>

                        <div class="container mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checklist1">
                                <label class="form-check-label" for="checklist1">Evidence the other bargaining side supports the changed coverage</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checklist2">
                                <label class="form-check-label" for="checklist2">If applying under either representation test — an updated spreadsheet containing contact details?? of covered employees</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checklist3">
                                <label class="form-check-label" for="checklist3">If applying under 10% representation test — evidence on how the 10% was calculated</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checklist4">
                                <label class="form-check-label" for="checklist4">If applying under public interest test — written evidence that your application meets the grounds indicated, or other relevant evidence</label>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="form-group" method="post">
                    <div>
                        <hr class="my-4">

                        <h5 class="mb-3">1. Applicant Details</h5>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="partyName">Applicant Party Name</span>
                            <input type="text" class="form-control" aria-describedby="partyName" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="FPARefNum">FPA Reference Number</span>
                            <input type="text" class="form-control" aria-describedby="FPARefNum" required>
                        </div>

                        <div class="form-group mb-3">
                            <h6 class="form-label">Primary Contact Person</h6>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="primaryContactName">Name of Primary Contact Person</span>
                                <input type="text" class="form-control" aria-describedby="primaryContactName" required>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="primaryContactNumber">Phone Number</span>
                                <input type="text" class="form-control" aria-describedby="primaryContactNumber" required>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="primaryContactEmail">Email Address</span>
                                <input type="email" class="form-control" aria-describedby="primaryContactEmail" required>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="contactNum" style="white-space: pre-line; text-align:left;">
                                    Contact Number to Publish on MBIE website
                                    (if different from number above)
                                </span>
                                <input type="text" class="form-control" aria-describedby="contactNum" required>
                            </div>
                        </div>
                    </div>

                    <div>
                        <hr class="my-4">

                        <h5 class="mb-3">2. Details of the Proposed New Coverage</h5>
                        <p>Provide a summary of the proposed coverage changes in <b>section 2A</b> and provide information on the industry and occupations within the proposed new coverage in sections <b>2B</b> and <b>2C</b>.</p>

                        <h6 class="mb-3"><i>2A: Summary of the Proposed Changes</i></h6>

                        <h6><i>Example</i></h6>
                        <p>XX occupation will be removed from the proposed coverage of the FPA, and XX and XX occupations will be included.</p>
                        <div class="mb-3">
                            <textarea class="form-control" id="summaryProposedChanges" rows="7"></textarea>
                        </div>

                        <h6>Proposed New Coverage</h6>
                        <p>If you are applying to initiate an <b>Industry</b>-based FPA, fill out <i>both</i> sections <b>2B</b> and <b>2C</b>.</p>
                        <p>If you are applying to initiate an <b>Occupation</b>-based FPA, fill out section <b>2C</b> <i>only</i>.</p>

                        <h6 class="mb-3"><i>2B: Industry Coverage</i></h6>
                        <p>Fill out the table below with your proposed industry coverage:</p>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Description of Industry</th>
                                        <th scope="col">ANZSIC Code</th>
                                        <th scope="col">Classification</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div>
                            <h6 class="mb-3"><i>2C: Occupation Coverage</i></h6>
                            <p><i>Fill out one row per occupation. If you need more room to fill out this section, there are extra tables included at the end of the form.</i></p>

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Description of Work (Main Functions)</th>
                                            <th scope="col">Name of Occupation (From ANZSCO register)</th>
                                            <th scope="col">ANZSCO Code</th>
                                            <th scope="col">Job Titles Associated with the Occupation</th>
                                            <th scope="col">Industries this Occupation May Typically Work</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div>
                        <hr class="my-4">

                        <h5 class="mb-3">3. Initiation Test</h5>

                        <h6><i>Representation Test</i></h6>
                        <p>For the representation test, complete an updated spreadsheet containing the information below and attach to your email with the application form:</p>
                        <div class="container mb-3">
                            <p class="mb-0">(1) employee name and surname</p>
                            <p class="mb-0">(2) employer of employee</p>
                            <p class="mb-0">(3) occupation</p>
                            <p class="mb-0">(4) industry and</p>
                            <p class="mb-0">(5) date employee supported initiation</p>
                        </div>

                        <p>If the same 1,000 employees remain within the proposed new coverage from the initial 1,000-employee representation test used in the Application to initiate bargaining, you will not need to send an updated spreadsheet.</p>

                        <p>For the 10% representation test, provide evidence on how the 10% was calculated.</p>

                        <p><b>NOTE: From the list you provide, MBIE will randomly select employees to verify support. Once the random selection has been made, MBIE will contact you to provide contact details for the selected employees.</b></p>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Employee Name and Surname</th>
                                        <th scope="col">Employer name</th>
                                        <th scope="col">Occupation</th>
                                        <th scope="col">Industry (if applicable)</th>
                                        <th scope="col">Date Employee Supported Initiation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <h6><i>Public Interest Test</i></h6>
                        <p>To meet the public interest test, the application must specify the grounds it is applying under. This must include low pay and at least one other ground specified in section 29A(1) of the Fair Pay Agreements Act 2022.</p>
                        <p>In addition to low pay, select the other ground(s) this application is made on:</p>
                        <div class="py-1 container mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkLittlePower">
                                <label class="form-check-label" for="chkLittlePower">Little bargaining power</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkLackPay">
                                <label class="form-check-label" for="chkLackPay">Lack of pay progression</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkNotAdequately">
                                <label class="form-check-label" for="chkNotAdequately">Employees not adequately paid given factors such as contractual uncertainty or working long or unsocial hours</label>
                            </div>
                        </div>

                        <p>NOTE: you will need to provide evidence that any additional industries or occupations still meet the public interest test.</p>

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Provide information on how the application meets the grounds indicated above. There are extra pages at the back of this form.</label>
                            <label for="exampleFormControlTextarea1" class="form-label">Examples of evidence you could include can be found in section 29A(2) of the Fair Pay Agreements Act. If you wish to attach the evidence separately to this application form, indicate this below.</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
                        </div>
                    </div>

                    <div>
                        <hr class="my-4">

                        <h5 class="mb-3">4. Support of Changed Coverage from the Other Bargaining Side</h5>
                        <p>We need evidence that the other bargaining side supports the changed coverage of the FPA. Please attach this evidence to the same email as your application form.</p>
                        <p>This evidence must:</p>

                        <div class="form-group mb-3">
                            <ul>
                                <li>include detail on the agreed changes of the coverage and</li>
                                <li>be signed by an authorised representative from the other bargaining side.</li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <hr class="my-4">

                        <h5 class="mb-3">5. Privacy Information</h5>

                        <h6><b>By signing this form, you consent to MBIE:</b></h6>

                        <div class="form-group mb-3">
                            <ul>
                                <li>publishing the information contained in this application on the MBIE website.</li>
                                <li>sharing the union’s contact details with Bargaining Support Services within MBIE.</li>
                                <li>sharing the union’s contact details with additional bargaining parties joining to bargain for the proposed Fair Pay Agreement.</li>
                                <li>verifying the evidence provided to support this application, including contacting employees listed as supporting this application.</li>
                                <li>Storing / Using/ collecting ???? How will it be stored?</li>
                            </ul>
                        </div>

                        <p><b>[The Full privacy statement can be found at MBIE website ??]</b></p>
                    </div>

                    <hr class="my-4">

                    <div>
                        <h5 class="mb-3">6. Declaration</h5>
                        <p>I declare that the union is eligible to initiate a proposed Fair Pay Agreement.</p>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="FPARefNum" style="white-space: pre-line; text-align:left;">
                                I declare the information in this application and supporting evidence is accurate
                                and correct, and that I am authorised to apply and sign on behalf of
                            </span>
                            <input type="text" class="form-control" aria-describedby="FPARefNum" required>
                        </div>

                        <p>I understand that if any of the statements or information provided in this application are found to be untrue, false, misleading, or misrepresenting, the applicant union may be held liable for it.</p>

                        <p>I declare that consent will be sought from the employees who have been randomly selected to verify this application by the employer to be contacted by MBIE.</p>

                        <div class="form-group mb-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="signature">Signature of Union Representative</span>
                                <input type="text" class="form-control" aria-describedby="signature" required>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="role">Role/Capacity</span>
                                <input type="text" class="form-control" aria-describedby="role" required>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="Date">Date</span>
                                <input type="date" class="form-control" aria-describedby="Date" required>
                            </div>
                        </div>
                    </div>

                    <div class="py-2 d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                        <button type="button" class="btn btn-secondary btn-lg" onclick="resetForm()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function resetForm() {
        document.forms[0].reset();
        $("input:checkbox").prop('checked', false);
    }
</script>