html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


/* This is the code that has been added for page buttons */
button {
    transition-duration: 0.4s;
}

    button:hover {
        background-color: #4CAF50; /* Green */
        color: white;
    }

disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


/* Page sizing for scalability */
column {
    float: left;
    width: 33.33%
}

row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    column {
        width: 100%;
    }
}


/* Menu breadcrumbs for jumping back to specific pages */
ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: #eee;
}

    ul.breadcrumb li {
        display: inline;
    }

        ul.breadcrumb li + li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
        }
